nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #8aaadf;
}

nav .navContainer {
    margin: 0 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.linksNavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    align-items: center;
    font-size: 1.3rem;
}

nav li {
    list-style-type: none;
}

.logo img {
    width: 10rem;
    /* height: 1rem; */
}

nav li a {
    color: #1f3166;
    text-decoration: none;
    transition: 0.2s;
    position: relative;
}


/* Mudança de cor e Criação da linha ao passar o mouse */
nav li a:hover {
    color: #f0e1e1;
}

nav li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: #fff;
    color: #fff;
    transition: width 0.2s, left 0.2s;
  }

  
nav li a:hover::after {
    width: 100%;
    left: 0;
  }

