footer {
    margin: 0;
    padding: 0.2rem 0;
    box-sizing: border-box;
    background-color: #090c09;
    color: #ccc;
}

.footer-Container {
    margin: 0 8rem;
    padding: 1rem 0;
    flex: 1;
}

.footer-Container > .quadro1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-Icon {
    font-size: 1.2rem;
}

.fontStrong {
    font-weight: 700;
}

hr{
    margin: 0 1rem;
}

.textRodape {
    text-align: center;
    padding-bottom: 1rem;
}